
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- bradcam_area_start  -->
<div class="bradcam_area breadcam_bg bradcam_overlay">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>About Us</h3>
                    <p><a href="index.html">Home /</a> About</p>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="welcome_docmed_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="welcome_thumb">
                    <div class="thumb_1">
                        <img src="img/about/1.png" alt="">
                    </div>
                    <div class="thumb_2">
                        <img src="img/about/2.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="welcome_docmed_info">
                    <h2>Company Background</h2>
                    <h3>
                        Mail Expert  <br>
                        Messengerial
                    </h3>
                    <p>established in the year 2004 as first-rate messengerial, managed and operated by highly  3 experienced and qualified professionals who have distinguished themselves in the messengerial services related field which offers to meet all the requirements. Mail Expert Messengerial offers delivering of State Of Accounts (SOA’s) within Metro Manila. The company endured every aspect of business conditions to remain a dependable courier committed to Industry.</p>
                    <ul>
                        <li> <i class="flaticon-right"></i> Provides bill tracking systems to telecommunication companies. </li>
                        <li> <i class="flaticon-right"></i> Every customer that Mail Expert deals with is treated as a partner and not as a customer.</li>
                        <li> <i class="flaticon-right"></i> The company is looking forward to find ways to improve its ability to add value to the company’s services in order to exceed the customer’s needs & expectations. </li>
                    </ul>
                    <a href="#" class="boxed-btn3-white-2">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>