
@{
    ViewData["Title"] = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- bradcam_area_start  -->
<div class="bradcam_area breadcam_bg bradcam_overlay">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Services</h3>
                    <p><a href="index.html">Home /</a> Services</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- service_area_start -->
<div class="service_area">
    <div class="container p-0">
        <div class="row no-gutters">
            <div class="col-xl-4 col-md-4">
                <div class="single_service">
                    <div class="icon">
                        <i class="flaticon-electrocardiogram"></i>
                    </div>
                    <h3>Technology</h3>
                    <p>Our marketing strategy uses internet technology as well as old school methods to promote and sell products and services for our clients online.</p>

                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="single_service">
                    <div class="icon">
                        <i class="flaticon-emergency-call"></i>
                    </div>
                    <h3>Direct Mail</h3>
                    <p>We have expertise in the use of direct mail and signage to bring customers to our client’s physical location or to a website.</p>

                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="single_service">
                    <div class="icon">
                        <i class="flaticon-first-aid-kit"></i>
                    </div>
                    <h3>Delivery</h3>
                    <p>Fastest SOA deliverance. Compare us with others and you will be amazed with the difference.</p>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- service_area_end -->